﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "ADMIN";
}
<link href="~/css/style.css" rel="stylesheet" />
<a class="soluong">số lượng</a>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myChart"></canvas>

<script>
    // Lấy dữ liệu từ ViewBag
    var thongKeList = @Html.Raw(Json.Serialize(ViewBag.ThongKeList)) ;


    //thongKeList.forEach(function(item) {
    //    item.thang = parseInt(item.thang);
    //    item.soLuongVe = parseInt(item.soLuongVe);
    //});

    //var labels = thongKeList.map(function (item) {
    //    return item.Thang;
    //});

    //var data = thongKeList.map(function(item) {
    //    return item.soLuongVe;
    //});
    var data = [];
    var labels = [];


    thongKeList.forEach(function (item) {
        item.thang = parseInt(item.thang);
        data.push(item.soLuongVe);
        labels.push(item.thang);
    });
    // Tạo biểu đồ với Chart.js
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Số lượng vé',
                data: data,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <p>Tháng</p>
        </div>
    </div>
</div>